<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/location.js"></script>