<h1 class="mt-4" style="margin-bottom: 40px;">Voting Console</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<div class="container" style="width: 100%;">
    <div class="d-flex flex-row flex-wrap">
        <div class="card" style="width: 12rem; height: 14rem;">
            <div class="card-body">
              <h4 style="vertical-align: centre;">ABOVE THE LINE &rarr;</h4>
            </div>
        </div>
        <div class="card" style="width: 12rem; height: 14rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Ausdem_newlogo.png" class="card-img-top" style="height: 40%;">
            <div class="card-body">
              <h5 class="card-title">Australian Democratic Party</h5>
              
              <a href="/users/logout" class="btn btn-primary" id='adp_vote'>Vote</a>
            </div>
        </div>
        <div class="card" style="width: 12rem; height: 14rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Liberal_Party_of_Australia_Logo_2015.png" class="card-img-top" style="height: 40%;">
            <div class="card-body">
              <h5 class="card-title">Australian Liberal Party</h5>
              
              <a href="/users/logout" class="btn btn-primary" id='alp_vote'>Vote</a>
            </div>
        </div>
        <div class="card" style="width: 12rem; height: 14rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/New_Australian_Conservatives_Logo.png" class="card-img-top" style="height: 40%;">
            <div class="card-body">
              <h5 class="card-title">Australian Conservative Party</h5>
              
              <a href="/users/logout" class="btn btn-primary" id='acp_vote'>Vote</a>
            </div>
        </div>
        <div class="card" style="width: 12rem; height: 14rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/New_Australian_Conservatives_Logo.png" class="card-img-top" style="height: 40%;">
            <div class="card-body">
              <h5 class="card-title">Australian National Party</h5>
              
              <a href="/users/logout" class="btn btn-primary" id='anp_vote'>Vote</a>
            </div>
        </div>
        <!-- Do this as many times as you need -->
    </div>
    <hr style="height:5px;border-width:2;color:black;background-color:black">
    <div class="d-flex flex-row flex-wrap">
        <div class="card" style="width: 13rem;">
            <div class="card-body">
              <h4 style="vertical-align: centre;">BELOW THE LINE &rarr;</h4>
            </div>
        </div>
        <div class="card" style="width: 13rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Ausdem_newlogo.png" class="card-img-top" style="height: 20%;">
            <div class="card-body">
              <h5 class="card-title">Australian Democratic Party</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lyn Allison <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Natasha Stott Despoja <br> <a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Meg Lees <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
            </ul>
        </div>
        <div class="card" style="width: 13rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Liberal_Party_of_Australia_Logo_2015.png" class="card-img-top" style="height: 20%;">
            <div class="card-body">
              <h5 class="card-title">Australian Liberal Party</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lyn Stott <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Natasha Less <br> <a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Meg Lyn <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
            </ul>
        </div>
        <div class="card" style="width: 13rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/New_Australian_Conservatives_Logo.png" class="card-img-top" style="height: 20%;">
            <div class="card-body">
              <h5 class="card-title">Australian Democratic Party</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Lyn Lees <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Natasha Meg <br> <a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Meg Despoja <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
            </ul>
        </div>
        <div class="card" style="width: 13rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/New_Australian_Conservatives_Logo.png" class="card-img-top" style="height: 20%;">
            <div class="card-body">
              <h5 class="card-title">Australian Democratic Party</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Natasha Allison <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Lyn Stott Despoja <br> <a href="/users/logout" class="btn btn-primary">Vote</a></li>
              <li class="list-group-item">Meg Lees <br><a href="/users/logout" class="btn btn-primary">Vote</a></li>
            </ul>
        </div>
        
        <!-- Do this as many times as you need -->
    </div>
</div>

<script src="https://jsbucket-sse.s3-ap-southeast-1.amazonaws.com/jquery-2.1.4.min.js"></script>
<script src="https://jsbucket-sse.s3-ap-southeast-1.amazonaws.com/jquery-min-3.1.1.js"></script>
<script src="https://jsbucket-sse.s3-ap-southeast-1.amazonaws.com/click.js"></script>
